<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is pay</th>
      <th>Price</th>
      <th>Teacher</th>
      <th>Description</th>
      <th>Is video</th>
      <th>Preview</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.name %></td>
        <td><%= note.is_pay %></td>
        <td><%= note.price %></td>
        <td><%= note.teacher %></td>
        <td><%= note.description %></td>
        <td><%= note.is_video %></td>
        <td><%= note.preview %></td>
        <td><%= note.published %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
