<div class="col-md-12 text-center bold-whitney tittle-backline-black">
		<h2 align="center"> Contenido: </h2><br>
		<hr>
	</div>


<div class="row">
	<div class="col-md-6">
				
				<%= @note.name  %><br>
				<% @note.topics.each do |topic| %>
					-<%= topic.name %><br>
					<% topic.subtopics.each do |subtopic| %>
						------<%= subtopic.name %><br>
							<% subtopic.questions.each do |question| %>
								----------<%= question.content %><br>
								----------<%= question.answer.content if question.answer %><br>
								
							<% end %>
					<% end %>
				<% end %>
	</div>


	<div class="col-md-6">

		 <h4> Comenta: </h4><br>
		<%= link_to "Escribe una Reseña", new_note_review_path(@note), class: "btn btn-link" %>
		<% @reviews.each do |review| %>

				<div class="star-rating" data-score= <%= review.rating %>s></div>
				<p><%= review.comment %></p>

		<% end %>
	
</div>	
</div>
</div>	

<script>
$('.star-rating').raty({
	path: 'https://s3.amazonaws.com/fotospipe/stars',
	readOnly: true,
	score: function() {
		return $(this).attr('data-score');
	}
});
</script>
